<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.jgen.eu/notes/dmw/lite/mdl/Model"
			class = "eu.jgen.notes.dmw.lite.mdl.model.ModelPackage"
			genModel = "model/generated/Model.genmodel" />
	</extension>
</plugin>
