/.ModelParsingTest.java._trace
/.ModelParsingTest.xtendbin
/.ModelValidationAnnotationTests.java._trace
/.ModelValidationAnnotationTests.xtendbin
/.ModelValidatorTests.java._trace
/.ModelValidatorTests.xtendbin
/.UtilityMethodsTests.java._trace
/.UtilityMethodsTests.xtendbin
/ModelParsingTest.java
/ModelValidationAnnotationTests.java
/ModelValidatorTests.java
/UtilityMethodsTests.java
